{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% load widget_tweaks %}
{% block body %}
    <div class="d-flex flex-column justify-content-center w-100 align-items-center">
        <h1 class="_heading" style="font-size: 68px;">Log in</h1>
        <form style="width: 25%;" method="post" class="d-flex flex-column justify-content-center align-items-center">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group mb-3" id="div_{{ field.id_for_label }}">
                    <label style="text-align: center" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> Log in
            </button>
        </form>
    </div>
{% endblock %}