{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% load widget_tweaks %}
{% block body %}

    <style>
        @media only screen and (max-width: 1080px) {
            #wow{
                font-size: 9rem;
            }
            .formx{
                font-size: 4rem;
            }
            .form-control, .selection{
                font-size: 2rem;
                height: 50px;
            }
            .btn-primary{
                font-size: 60px;
            }
        }
    </style>

    <div class="d-flex flex-column justify-content-center w-100 align-items-center">
        <h1 id="wow">Register</h1>
        <button class="btn btn-secondary mb-3 mt-3" data-bs-toggle="modal" data-bs-target="#popupModal">Enter Data using Aadhaar</button>
        <form method="post" class="form w-100 formx d-flex flex-column justify-content-center align-items-center">
            {% csrf_token %}
            {{ form.media.js }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group mb-3" id="div_{{ field.id_for_label }}">
                    <label style="text-align: center" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-group d-flex flex-column align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> Register
                </button>
            </div>
        </form>


    <div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popupModalLabel">Add Details from Aadhaar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <video id="qr-scanner"></video>
                    <span id="success_aadhaar" class="d-none">Aadhaar Data has been added successfully.</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="module">
        import QrScanner from "{% static 'qr-scanner.min.js' %}";

        const video = document.getElementById('qr-scanner');
        const success_aadhaar = document.getElementById("success_aadhaar");
        const scanner = new QrScanner(video, setAadharData, {highlightScanRegion: true, highlightCodeOutline: true});

        function setAadharData(data) {
            console.log(data)
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'aadhaar_data' %}");

            xhr.setRequestHeader("x-csrf-token", "{{ csrf_token }}");
            let send_data = new FormData();
            send_data.append("aadhaar", data["data"]);
            send_data.append("csrfmiddlewaretoken", "{{ csrf_token }}");

            xhr.onreadystatechange = () => {
                if (xhr.readyState !== XMLHttpRequest.DONE) {
                    return;
                }

                let state_el = $("#{{ form.state.id_for_label }}");
                let district = $("#{{ form.district.id_for_label }}");
                let sub_district = $("#{{ form.sub_district.id_for_label }}");
                let village = $("#{{ form.village.id_for_label }}");

                let response = JSON.parse(xhr.response);
                document.getElementById("{{ form.name.id_for_label }}").value = response["name"];

                if (response["state"] !== null) {
                    state_el.val(response["state"]);
                    state_el.trigger("change");
                }

                if (response["district"] !== null) {
                    district.val(response["district"]);
                    district.trigger("change");
                }

                if (response["sub_district"] !== null) {
                    sub_district.val(response["sub_district"]);
                    sub_district.trigger("change");
                }

                if (response["village"] !== null) {
                    village.val(response["village"]);
                    village.trigger("change");
                }
            }

            xhr.send(send_data);

            // document.getElementById("{{ form.aadhaar_data.id_for_label }}").value = JSON.stringify(data["data"]);
            scanner.stop();
            video.classList.add("d-none");
            success_aadhaar.classList.remove("d-none");
        }

        document.getElementById("popupModal").addEventListener("shown.bs.modal", () => {
            video.classList.remove("d-none");
            success_aadhaar.classList.add("d-none");
            scanner.start();
        });

        document.getElementById("popupModal").addEventListener("hidden.bs.modal", () => {
            video.classList.add("d-none");
            scanner.stop();
        });
    </script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        role = $("#id_role");
        dept = $("#div_id_department");
        village = $("#div_id_village");

        VILLAGER = 2
        VILLAGE_ADMIN = 1
        DISTRICT_ADMIN = 3

        function hide_dept() {
            console.log(role.val());
            if (role.val() == VILLAGER || role.val() == VILLAGE_ADMIN) {
                dept.hide();
            } else {
                dept.show();
            }

            if (role.val() == DISTRICT_ADMIN) {
                village.hide();
            } else {
                village.show();
            }
        }

        $(document).ready(() => {
            hide_dept();
            $('#id_state').select2();
            $('#id_district').select2();
            $('#id_sub_district').select2();
            $('#id_village').select2();
        });

        role.change(hide_dept);
    </script>
{% endblock %}