{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% load widget_tweaks %}
{% block body %}

    <style>
        @media only screen and (max-width: 1080px) {
            #wow{
                font-size: 9rem;
            }
            .formx{
                font-size: 4rem;
            }
            .form-control, .selection{
                font-size: 2rem;
                height: 50px;
            }
            .btn-primary{
                font-size: 60px;
            }
        }
    </style>

    <div class="d-flex flex-column justify-content-center w-100 align-items-center">
        <h1 id="wow">Register</h1>
        <form method="post" class="form formx d-flex flex-column justify-content-center">
            {% csrf_token %}
            {{ form.media.js }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group mb-3" id="div_{{ field.id_for_label }}">
                    <label style="text-align: center" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-group d-flex flex-row align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> Register
                </button>
            </div>
        </form>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        role = $("#id_role");
        dept = $("#div_id_department");
        village = $("#div_id_village");

        VILLAGER = 2
        VILLAGE_ADMIN = 1
        DISTRICT_ADMIN = 3

        function hide_dept() {
            console.log(role.val());
            if (role.val() == VILLAGER || role.val() == VILLAGE_ADMIN) {
                dept.hide();
            } else {
                dept.show();
            }

            if (role.val() == DISTRICT_ADMIN) {
                village.hide();
            } else {
                village.show();
            }
        }

        $(document).ready(() => {
            hide_dept();
            $('#id_state').select2();
            $('#id_district').select2();
            $('#id_sub_district').select2();
            $('#id_village').select2();
        });

        role.change(hide_dept);
    </script>
{% endblock %}