{% extends "base.html" %}
{% block title %}Share your grievance{% endblock %}
{% block add_head %}
    <link href="https://vjs.zencdn.net/8.6.0/video-js.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//unpkg.com/videojs-record/dist/css/videojs.record.min.css">
{% endblock %}
{% block body %}
    {% load widget_tweaks %}
    <div style="margin-top: 50px;margin-bottom: 50px;">
        <h3> Record your grievance(s)</h3>

        <audio style="margin-right: 53px;margin-top: 59px;" id="audioPlayer" controls>
        </audio>

        <button type="button" class="btn btn-primary" id="rec">Start Recording</button>
        <button type="button" class="btn btn-primary" id="sub">Submit</button>
    </div>

    <script src="{% static 'audioRecorder.js' %}"></script>
    <script>
        recordAudio();
    </script>
{% endblock %}