{% extends "base.html" %}
{% block title %}Share your grievance{% endblock %}
{% block add_head %}
    <link href="https://vjs.zencdn.net/8.6.0/video-js.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//unpkg.com/videojs-record/dist/css/videojs.record.min.css">
{% endblock %}
{% block body %}
    {% load widget_tweaks %}
    <div style="margin-top: 50px;margin-bottom: 50px;">
        <h3> Record your grievance(s)</h3>

        <audio style="margin-right: 53px;margin-top: 59px;" id="audioPlayer" controls>
            <source id="audio_src" type="audio/webm" src="">
        </audio>

        <button type="button" class="btn btn-primary" id="rec">Start Recording</button>
        <button type="button" class="btn btn-primary" id="sub">Submit</button>
    </div>

    <script>
        const recButton = document.getElementById("rec");
        const subButton = document.getElementById("sub");
        let output = document.getElementById('audioPlayer');
        output.hidden = true;
        let audioRecorder;
        let formData = new FormData();
        let started = false;

        navigator.mediaDevices.getUserMedia({audio: true})
            .then(stream => {

                // Initialize the media recorder object
                audioRecorder = new MediaRecorder(stream);

                // dataavailable event is fired when the recording is stopped
                audioRecorder.addEventListener('dataavailable', e => {
                    formData.set("audio", e.data, "audio.webm");
                    output.src = URL.createObjectURL(e.data);
                });

                // start recording when the start button is clicked
                recButton.addEventListener('click', () => {
                    if (started) {
                        audioRecorder.stop();
                        recButton.innerText = 'Start Recording';
                        output.hidden = false;
                    } else {
                        audioRecorder.start();
                        recButton.innerText = 'Stop Recording';
                        output.hidden = true;
                    }
                    started = !started;
                });

                // play the recorded audio when the play button is clicked
                subButton.addEventListener('click', () => {
                    $.ajax({
                        method: 'POST',
                        processData: false,
                        mimeType: 'multipart/form-data',
                        contentType: false,
                        data: formData,
                        async: false,
                        success: (data, textStatus) => {
                            window.location = (JSON.parse(data)).url;
                        }
                    });
                });
            });
    </script>
{% endblock %}