{% extends "base.html" %}
{% block title %}
    Village {{ village.name }}
{% endblock %}
{% block body %}
    {% load widget_tweaks %}
    {% load static %}
    {% load feedbacktags %}
    {% village_admin request.user as is_village_admin %}
    <h1>Scheduled meetings for {{ village.name }}</h1>
    <p>There are {{ num_meetings }} scheduled meetings for {{ village.name }}</p>
    <div id="calendar" style="margin-left: 420px; padding: 4px 4px;"></div>

    {% if is_village_admin %}
        <a href="{% url 'schedule_meeting' %}">
            <button class="btn btn-primary" style="width: 73%; height: 71px; margin-top: 55px; margin-bottom: 55px; margin-left: 117px;">Schedule a Meeting</button>
        </a>
    {% endif %}

    <h1 class="strip">Grievances shared by residents of {{ village.name }}</h1>
    {% if grievances %}
        <div class="gcn">
            <table class="table">
                <thead>
                <tr>
                    <th class="tbla" scope="col">#</th>
                    <th class="tbla" scope="col">Shared by</th>
                    <th class="tbla" scope="col">Shared on</th>
                    <th class="tbla" scope="col">Audio</th>
                </tr>
                </thead>
                {% for grievance in grievances %}
                    <tr>
                        <th class="tbla" scope="row">{{ forloop.counter }}</th>
                        <td class="tbla">{{ grievance.made_by.name }}</td>
                        <td class="tbla">{{ grievance.date }}</td>
                        <td class="tbla">
                            <audio src="{% get_media_prefix %}{{ grievance.audio }}" controls></audio>
                        </td>
                        <td class="tbla">
                            <button class="btn btn-success" onclick="sendimp_req({{ grievance.id }})"
                                    id="{{ grievance.id }}_imp">Mark as important
                            </button>
                            <button class="btn btn-danger" onclick="sendunimp_req({{ grievance.id }})"
                                    id="{{ grievance.id }}_unimp" style="display: none">Mark as Unimportant
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h2>No grievances have been shared yet for this village</h2>
    {% endif %}
    <h1 class="strip" style="background-color: #c8d9216b !important;">Meetings of {{ village.name }}</h1>
    {% if is_village_admin %}
        <a href="/upload_meeting">
            <button class="btn btn-primary" style="width: 73%; height: 71px; margin-left: 117px;">Upload new meeting</button>
        </a>
    {% endif %}
    <table style="width: 30%; margin-left: 40px; margin-top: 30px;" class="table">
        <thead>
        <th scope="col">#</th>
        <th scope="col">Held on</th>
        </tr>
        </thead>
        {% for meeting in meetings %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="/meetings/{{ meeting.id }}">{{ meeting.date }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <script src="{% static 'imp_unimp.js' %}"></script>
    <script>
        var element = document.getElementById("calendar");
        // Create the calendar

        const date = new Date();

        let currentDay = String(date.getDate()).padStart(2, '0');

        let currentMonth = String(date.getMonth() + 1).padStart(2, "0");

        let currentYear = date.getFullYear();

        // we will display the date as DD-MM-YYYY

        let currentDate = `${currentDay}-${currentMonth}-${currentYear}`;
        var myCalendar = jsCalendar.new(element, currentDate);

        data = new FormData();
        data.append('id', {{ request.user.village.id }});
        fetch('/scheduled-meetings/', {
            method: 'post',
            body: data,
        }).then(response => response.json()).then((data) => {
            for (let date in data) {
                myCalendar.select(Object.values(data));
            }
        })
    </script>
{% endblock %}