{% extends "base.html" %}
{% block title %}
    Village {{ village.name }}
{% endblock %}
{% block body %}
    {% load widget_tweaks %}
    {% load static %}
    <div id="calendar"></div>
    <h1>Grievances shared by residents of {{ village.name }}</h1>
    {% if grievances %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Shared by</th>
                <th scope="col">Shared on</th>
                <th scope="col">Audio</th>
            </tr>
            </thead>
            {% for grievance in grievances %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ grievance.made_by.name }}</td>
                    <td>{{ grievance.date }}</td>
                    <td>
                        <audio src="{% get_media_prefix %}{{ grievance.audio }}" controls></audio>
                    </td>
                    <td>
                        <button onclick="sendimp_req({{ grievance.id }})" id="{{ grievance.id }}_imp">Mark as important</button>
                        <button onclick="sendunimp_req({{ grievance.id }})" id="{{ grievance.id }}_unimp" style="display: none">Mark as unimportant</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>No grievances have been shared yet for this village</h2>
    {% endif %}
    <h1>Meetings of {{ village.name }}</h1>
    {% load feedbacktags %}
    {% village_admin request.user as is_village_admin %}
    {% if is_village_admin %}
        <a href="/upload_meeting">
            <button>Upload new meeting</button>
        </a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Held on</th>
        </tr>
        </thead>
        {% for meeting in meetings %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="/meetings/{{ meeting.id }}">{{ meeting.date }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <script src="{% static 'imp_unimp.js' %}"></script>
    <script>
        var element = document.getElementById("calendar");
        // Create the calendar

        const date = new Date();

        let currentDay= String(date.getDate()).padStart(2, '0');

        let currentMonth = String(date.getMonth()+1).padStart(2,"0");

        let currentYear = date.getFullYear();

        // we will display the date as DD-MM-YYYY

        let currentDate = `${currentDay}-${currentMonth}-${currentYear}`;
        var myCalendar = jsCalendar.new(element, currentDate);
        // Get the button
        var button = document.getElementById("my-button");
        // Add a button event
        button.addEventListener("click", function(){
            // Go to the previous month
            myCalendar.previous();
        }, false);
    </script>
{% endblock %}